In [70]:
import pandas as pd

df_edu = pd.read_csv(r"C:\Users\jagod\project_group_2_fds_202526\data\03_education\raw\education.csv", low_memory=False)


# Keep only necessary columns
df_edu = df_edu[["Reference area", "TIME_PERIOD", "Sex", "Educational attainment level", "OBS_VALUE"]]

# Rename columns
df_edu.rename(columns={
    "Reference area": "Country",
    "TIME_PERIOD": "Year",
    "Sex": "Gender",
    "Educational attainment level": "Education_Level",
    "OBS_VALUE": "Education_Attainment"
}, inplace=True)

# Convert to numeric
df_edu["Education_Attainment"] = pd.to_numeric(df_edu["Education_Attainment"], errors="coerce")

# Filter for Male/Female if needed
df_edu = df_edu[df_edu["Gender"].isin(["Male", "Female"])]

# Pivot
df_edu_pivot = df_edu.pivot_table(
    index=["Country", "Year"],
    columns="Gender",
    values="Education_Attainment"
).reset_index()

df_edu_pivot.columns.name = None
print(df_edu_pivot.head())

     Country  Year     Female       Male
0  Argentina  2023  27.355949  19.806442
1  Australia  2024  58.071411  47.920620
2    Austria  2024  38.552261  36.925373
3    Belgium  2024  49.176338  40.883671
4     Brazil  2023  24.216759  18.705544

In [73]:
# Sort by country name alphabetically
df_edu_sorted = df_edu.sort_values(by="Country")

# Reset the index after sorting (optional)
df_edu_sorted = df_edu_sorted.reset_index(drop=True)

# Display the sorted table
df_edu_sorted

,Country,Year,Gender,Education_Level,Education_Attainment
0,Argentina,2023,Female,Tertiary education,27.355949
1,Argentina,2023,Male,Tertiary education,19.806442
2,Australia,2024,Female,Tertiary education,58.071411
3,Australia,2024,Male,Tertiary education,47.920620
4,Austria,2024,Female,Tertiary education,38.552261
5,Austria,2024,Male,Tertiary education,36.925373
6,Belgium,2024,Female,Tertiary education,49.176338
7,Belgium,2024,Male,Tertiary education,40.883671
8,Brazil,2023,Male,Tertiary education,18.705544
9,Brazil,2023,Female,Tertiary education,24.216759
10,Bulgaria,2024,Female,Tertiary education,40.406761
11,Bulgaria,2024,Male,Tertiary education,27.256159
12,Canada,2024,Male,Tertiary education,57.852699
13,Canada,2024,Female,Tertiary education,71.534355
14,Chile,2022,Male,Tertiary education,31.703119
15,Chile,2022,Female,Tertiary education,34.118610
16,China (People’s Republic of),2020,Female,Tertiary education,18.684566
17,China (People’s Republic of),2020,Male,Tertiary education,18.392155
18,Colombia,2024,Male,Tertiary education,27.919802
19,Colombia,2024,Female,Tertiary education,32.989155
20,Costa Rica,2024,Female,Tertiary education,29.318785
21,Costa Rica,2024,Male,Tertiary education,26.218901
22,Croatia,2024,Female,Tertiary education,35.976963
23,Croatia,2024,Male,Tertiary education,24.933231
24,Czechia,2024,Female,Tertiary education,31.105862
25,Czechia,2024,Male,Tertiary education,24.041574
26,Denmark,2024,Male,Tertiary education,38.927620
27,Denmark,2024,Female,Tertiary education,51.247391
28,Estonia,2024,Female,Tertiary education,54.123188
29,Estonia,2024,Male,Tertiary education,30.883745
30,European Union (25 countries),2024,Female,Tertiary education,43.521132
31,European Union (25 countries),2024,Male,Tertiary education,33.626934
32,Finland,2024,Male,Tertiary education,35.441280
33,Finland,2024,Female,Tertiary education,50.251980
34,France,2024,Female,Tertiary education,46.493385
35,France,2024,Male,Tertiary education,40.061249
36,G20,2024,Male,Tertiary education,NaN
37,G20,2024,Female,Tertiary education,NaN
38,Germany,2024,Female,Tertiary education,32.532093
39,Germany,2024,Male,Tertiary education,35.970325
40,Greece,2024,Male,Tertiary education,32.684540
41,Greece,2024,Female,Tertiary education,37.871449
42,Hungary,2024,Male,Tertiary education,25.737509
43,Hungary,2024,Female,Tertiary education,36.531925
44,Iceland,2023,Female,Tertiary education,55.354416
45,Iceland,2023,Male,Tertiary education,34.558510
46,India,2023,Male,Tertiary education,16.767014
47,India,2023,Female,Tertiary education,11.807657
48,Indonesia,2022,Female,Tertiary education,14.046983
49,Indonesia,2022,Male,Tertiary education,12.079223
50,Ireland,2024,Female,Tertiary education,61.677483
51,Ireland,2024,Male,Tertiary education,53.217834
52,Israel,2024,Male,Tertiary education,44.967758
53,Israel,2024,Female,Tertiary education,55.997097
54,Italy,2024,Male,Tertiary education,18.739222
55,Italy,2024,Female,Tertiary education,25.860704
56,Japan,2024,Male,Tertiary education,42.857143
57,Japan,2024,Female,Tertiary education,28.243513
58,Korea,2024,Female,Tertiary education,54.880581
59,Korea,2024,Male,Tertiary education,57.427731
60,Latvia,2024,Female,Tertiary education,49.989967
61,Latvia,2024,Male,Tertiary education,30.364363
62,Lithuania,2024,Female,Tertiary education,56.166862
63,Lithuania,2024,Male,Tertiary education,39.337898
64,Luxembourg,2024,Female,Tertiary education,56.189194
65,Luxembourg,2024,Male,Tertiary education,52.569027
66,Mexico,2024,Male,Tertiary education,22.261831
67,Mexico,2024,Female,Tertiary education,21.539186
68,Netherlands,2024,Male,Tertiary education,43.128975
69,Netherlands,2024,Female,Tertiary education,47.065414
70,New Zealand,2024,Male,Tertiary education,39.835472
71,New Zealand,2024,Female,Tertiary education,48.003777
72,Norway,2024,Male,Tertiary education,43.623638
73,Norway,2024,Female,Tertiary education,57.673267
74,OECD,2024,Female,Tertiary education,45.017368
75,OECD,2024,Male,Tertiary education,37.414651
76,Peru,2024,Male,Tertiary education,39.534317
77,Peru,2024,Female,Tertiary education,39.028263
78,Poland,2024,Male,Tertiary education,32.771606
79,Poland,2024,Female,Tertiary education,46.129105
80,Portugal,2024,Male,Tertiary education,26.093552
81,Portugal,2024,Female,Tertiary education,36.372593
82,Romania,2024,Male,Tertiary education,17.078737
83,Romania,2024,Female,Tertiary education,21.370064
84,Slovak Republic,2024,Female,Tertiary education,34.122486
85,Slovak Republic,2024,Male,Tertiary education,24.040274
86,Slovenia,2024,Male,Tertiary education,26.533209
87,Slovenia,2024,Female,Tertiary education,43.450108
88,South Africa,2024,Male,Tertiary education,8.493513
89,South Africa,2024,Female,Tertiary education,9.460811
90,Spain,2024,Male,Tertiary education,38.950226
91,Spain,2024,Female,Tertiary education,45.557831
92,Sweden,2024,Female,Tertiary education,59.806885
93,Sweden,2024,Male,Tertiary education,44.102139
94,Switzerland,2024,Male,Tertiary education,48.705078
95,Switzerland,2024,Female,Tertiary education,44.161457
96,Türkiye,2024,Female,Tertiary education,26.833708
97,Türkiye,2024,Male,Tertiary education,27.047928
98,United Kingdom,2024,Male,Tertiary education,51.468971
99,United Kingdom,2024,Female,Tertiary education,56.087101
100,United States,2023,Female,Tertiary education,54.657173
101,United States,2023,Male,Tertiary education,46.730503

In [15]:
import pandas as pd

# Load CSV
df_edu = pd.read_csv(
    r"C:\Users\jagod\project_group_2_fds_202526\data\03_education\raw\education.csv",
    low_memory=False
)

# Keep only necessary columns
df_edu = df_edu[["Reference area", "TIME_PERIOD", "Sex", "OBS_VALUE"]]

# Rename columns
df_edu.rename(columns={
    "Reference area": "Country",
    "TIME_PERIOD": "Year",
    "Sex": "Gender",
    "OBS_VALUE": "Education_Attainment"
}, inplace=True)

# Convert to numeric
df_edu["Education_Attainment"] = pd.to_numeric(df_edu["Education_Attainment"], errors="coerce")

# Filter only Male and Female (exclude Total)
df_edu = df_edu[df_edu["Gender"].isin(["Male", "Female"])]

# Remove aggregate regions
aggregates = ["European Union (25 countries)", "G20", "OECD"]
df_edu = df_edu[~df_edu["Country"].isin(aggregates)]

# Aggregate by Country-Year
df_agg = df_edu.groupby(["Country", "Year", "Gender"])["Education_Attainment"].sum().reset_index()

# Pivot to have Male/Female in columns
df_pivot = df_agg.pivot(index=["Country", "Year"], columns="Gender", values="Education_Attainment").reset_index()

# Remove pivot table column names
df_pivot.columns.name = None

# Compute ratios
df_pivot["F_to_M_ratio"] = df_pivot["Female"] / df_pivot["Male"]
df_pivot["Female_Share"] = df_pivot["Female"] / (df_pivot["Female"] + df_pivot["Male"])

# Sort alphabetically by Country
df_pivot = df_pivot.sort_values(by="Country").reset_index(drop=True)

# Display the table nicely
df_pivot  # <-- return the DataFrame instead of printing

,Country,Year,Female,Male,F_to_M_ratio,Female_Share
0,Argentina,2023,27.355949,19.806442,1.381164,0.580037
1,Australia,2024,58.071411,47.920620,1.211825,0.547885
2,Austria,2024,38.552261,36.925373,1.044059,0.510777
3,Belgium,2024,49.176338,40.883671,1.202836,0.546040
4,Brazil,2023,24.216759,18.705544,1.294630,0.564200
5,Bulgaria,2024,40.406761,27.256159,1.482482,0.597177
6,Canada,2024,71.534355,57.852699,1.236491,0.552871
7,Chile,2022,34.118610,31.703119,1.076191,0.518349
8,China (People’s Republic of),2020,18.684566,18.392155,1.015899,0.503943
9,Colombia,2024,32.989155,27.919802,1.181568,0.541614
10,Costa Rica,2024,29.318785,26.218901,1.118231,0.527908
11,Croatia,2024,35.976963,24.933231,1.442932,0.590656
12,Czechia,2024,31.105862,24.041574,1.293836,0.564049
13,Denmark,2024,51.247391,38.927620,1.316479,0.568310
14,Estonia,2024,54.123188,30.883745,1.752481,0.636691
15,Finland,2024,50.251980,35.441280,1.417894,0.586417
16,France,2024,46.493385,40.061249,1.160558,0.537157
17,Germany,2024,32.532093,35.970325,0.904415,0.474904
18,Greece,2024,37.871449,32.684540,1.158696,0.536757
19,Hungary,2024,36.531925,25.737509,1.419404,0.586675
20,Iceland,2023,55.354416,34.558510,1.601759,0.615645
21,India,2023,11.807657,16.767014,0.704219,0.413221
22,Indonesia,2022,14.046983,12.079223,1.162905,0.537659
23,Ireland,2024,61.677483,53.217834,1.158963,0.536815
24,Israel,2024,55.997097,44.967758,1.245272,0.554620
25,Italy,2024,25.860704,18.739222,1.380031,0.579837
26,Japan,2024,28.243513,42.857143,0.659015,0.397233
27,Korea,2024,54.880581,57.427731,0.955646,0.488660
28,Latvia,2024,49.989967,30.364363,1.646337,0.622119
29,Lithuania,2024,56.166862,39.337898,1.427805,0.588105
30,Luxembourg,2024,56.189194,52.569027,1.068865,0.516643
31,Mexico,2024,21.539186,22.261831,0.967539,0.491751
32,Netherlands,2024,47.065414,43.128975,1.091271,0.521822
33,New Zealand,2024,48.003777,39.835472,1.205051,0.546496
34,Norway,2024,57.673267,43.623638,1.322065,0.569349
35,Peru,2024,39.028263,39.534317,0.987200,0.496779
36,Poland,2024,46.129105,32.771606,1.407594,0.584648
37,Portugal,2024,36.372593,26.093552,1.393930,0.582277
38,Romania,2024,21.370064,17.078737,1.251267,0.555806
39,Slovak Republic,2024,34.122486,24.040274,1.419388,0.586672
40,Slovenia,2024,43.450108,26.533209,1.637575,0.620864
41,South Africa,2024,9.460811,8.493513,1.113887,0.526938
42,Spain,2024,45.557831,38.950226,1.169642,0.539095
43,Sweden,2024,59.806885,44.102139,1.356099,0.575570
44,Switzerland,2024,44.161457,48.705078,0.906712,0.475537
45,Türkiye,2024,26.833708,27.047928,0.992080,0.498012
46,United Kingdom,2024,56.087101,51.468971,1.089726,0.521468
47,United States,2023,54.657173,46.730503,1.169625,0.539091